/* For mobile */
.container {
    width: 311px;
}

/* For mobile */
/* .container {
    width: 85vw;
} */

/* For desktop */
/* @media only screen and (min-width: 600px) {
    .container {
        width: 40vw;
    }
}

@media only screen and (min-width: 992px) {
    .container {
        width: 20vw;
    }
} */

body {
    width: 100%;
    height: 100%;
    background-color:hsl(212, 45%, 89%);
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
}

.container {
    margin: auto;
    padding: 15px;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-qr-code {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.text {
    color:hsl(218, 44%, 22%);
    text-align: center;
    font-weight: 700;
    font-size: 22px;
    margin: 15px;

    .attribution {
        color: hsl(216, 15%, 48%); 
        font-weight: 400;
        font-size: 16px;
        margin: 10px;
    }
}